In [3]:
import pandas as pd
import numpy as np

from env import get_db_url

## Acquire data

In [58]:
def get_zillow_data():
    '''
    Function will try to return ad database from csv file if file is local and in same directory.
    IF file doesn't exist it will create and store in same directory
    Otherwise will pull from codeup database.
    Must have credentials for codeup database.
    '''
    try:
        csv_info = pd.read_csv('zillow.csv', index_col=0 )
        return csv_info
    except FileNotFoundError:
        url = get_db_url('zillow')
        info = pd.read_sql('''
            select bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, fips from properties_2017 
            where propertylandusetypeid = 261;
        ''', url)
        info.to_csv("zillow.csv", index=True)
        return info

In [73]:
df = get_zillow_data()

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2152863 entries, 0 to 2152862
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     float64
 5   taxamount                     float64
 6   fips                          float64
dtypes: float64(7)
memory usage: 131.4 MB

In [91]:
df.shape

(2152863, 7)

In [78]:
df.isnull().sum()

bedroomcnt                         0
bathroomcnt                       11
calculatedfinishedsquarefeet    8484
taxvaluedollarcnt                493
yearbuilt                       9337
taxamount                       4442
fips                               0
dtype: int64

In [12]:
df.columns[df.isnull().any()]

Index(['bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet',
       'taxvaluedollarcnt', 'yearbuilt', 'taxamount'],
      dtype='object')

## Replace null values for bedroom count

#### Since there is only 11 null values I'm gonna replace them with the mean value

In [53]:
df.bedroomcnt.describe()

count    2.152852e+06
mean     3.287196e+00
std      9.547544e-01
min      0.000000e+00
25%      3.000000e+00
50%      3.000000e+00
75%      4.000000e+00
max      2.500000e+01
Name: bedroomcnt, dtype: float64

In [77]:
df.bedroomcnt.fillna(3, inplace=True)

In [79]:
df.isnull().sum()

bedroomcnt                         0
bathroomcnt                       11
calculatedfinishedsquarefeet    8484
taxvaluedollarcnt                493
yearbuilt                       9337
taxamount                       4442
fips                               0
dtype: int64

## Replace Null Values for bathroom count

#### Since there is only 11 null values I'm gonna replace them with the mean value

In [62]:
df.bathroomcnt.describe()

count    2.152852e+06
mean     2.230688e+00
std      9.992796e-01
min      0.000000e+00
25%      2.000000e+00
50%      2.000000e+00
75%      3.000000e+00
max      3.200000e+01
Name: bathroomcnt, dtype: float64

In [80]:
df.bathroomcnt.fillna(2, inplace=True)

## drop all Null Values

#### Since the count of the null values add up to less then a percent of the total dataframe I've decided to drop them.

In [93]:
(df.isnull().sum()) / len(df)

bedroomcnt                      0.000000
bathroomcnt                     0.000000
calculatedfinishedsquarefeet    0.003941
taxvaluedollarcnt               0.000229
yearbuilt                       0.004337
taxamount                       0.002063
fips                            0.000000
dtype: float64

In [90]:
df.shape

(2152863, 7)

In [82]:
df.calculatedfinishedsquarefeet.describe()

count    2.144379e+06
mean     1.862855e+03
std      1.222125e+03
min      1.000000e+00
25%      1.257000e+03
50%      1.623000e+03
75%      2.208000e+03
max      9.525760e+05
Name: calculatedfinishedsquarefeet, dtype: float64

In [88]:
df.calculatedfinishedsquarefeet.mean()

1862.855177652831

In [96]:
df.dropna(inplace=True)

In [97]:
df.isnull().sum()

bedroomcnt                      0
bathroomcnt                     0
calculatedfinishedsquarefeet    0
taxvaluedollarcnt               0
yearbuilt                       0
taxamount                       0
fips                            0
dtype: int64

In [98]:
df.shape

(2140235, 7)

In [99]:
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0
6,3.0,4.0,1620.0,847770.0,2011.0,10244.94,6037.0
7,3.0,2.0,2077.0,646760.0,1926.0,7924.68,6037.0
11,0.0,0.0,1200.0,5328.0,1972.0,91.60,6037.0
14,0.0,0.0,171.0,6920.0,1973.0,255.17,6037.0

## Changing data types

#### A lot of the values that are floats that do not need to be floats ending with (.0), So I've decided to convert them to intergers instead of floats

In [101]:
df.bedroomcnt = df.bedroomcnt.astype(int)

In [102]:
df.bathroomcnt = df.bathroomcnt.astype(int)

In [105]:
df.yearbuilt = df.yearbuilt.astype(int)

In [109]:
df.fips = df.fips.astype(int)

In [112]:
df.calculatedfinishedsquarefeet = df.calculatedfinishedsquarefeet.astype(int)

In [111]:
(df.calculatedfinishedsquarefeet == df.calculatedfinishedsquarefeet.astype(int)).value_counts()

True    2140235
Name: calculatedfinishedsquarefeet, dtype: int64

In [113]:
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
4,4,2,3633,296425.0,2005,6941.39,6037
6,3,4,1620,847770.0,2011,10244.94,6037
7,3,2,2077,646760.0,1926,7924.68,6037
11,0,0,1200,5328.0,1972,91.60,6037
14,0,0,171,6920.0,1973,255.17,6037